*.log
*.pot
*.pyc
*.back
c.env
__pycache__/
/static/
local_settings.py

# settings должны быть на гитхабе просто перенесите ключи в .env и
# оставьте их у себя, не вся папка venv не нужна, requirements по возможности.
# А так можно на гитхабе посмотреть как люди заливают django проекты
