<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Information</title>
</head>
<body>
  <h1>Information about the site:</h1>
  This page was created by Raduga at 07/13/2022.
  <br>
    It's a study Django project.
  </br>
  <a href="{% url 'home' %}">Home</a>
</body>
</html>
<!-- # Создать ещё одну страницу с описанием нашего сайта и
  переход на неё с главной страницы.
# Разместить информацию о том, кто создал эту страницу,
# для чего она сделана и другую информауию, которую посчитаете нужным
Для этого потребуется:
- создать url
- создать новую вьюшку (views.py)
- создать новый шаблон
- и где-нибудь на домашней странице сделать для неё такую же кнопку,
  которую мы сделали для главной страницы(ссылка), чтобы пользователи
  могли переходить на неё.

Это нужно сделать абсолютно самостоятельно, чтобы проверить, как вы усвоили
материал. Я покажу вам, как это сделать в следующей лекции, но не в коем
случае не смотрите её, пока не закончите это задание. Это очень важно.
Главное, не сдавайтесь! Я верю, что вы справитесь))) Не переходите к следующей
лекции после первых трудностей. Гугл, прошлые лекции - все средства будут хороши,
чтобы справиться своими силами. -->
